
<div class="row">
  <div class="col-md-4">
  <br/>
    <%= image_tag @feed.image, width:'300' %>
  
  </div>

    <div class="col-md-8">

      <h1>
        <%= @feed.title %>
        <br/>
            <small>

             by <%= @feed.author %>
            </small>

      </h1>

      <div class="well">
  
      <p>
        <%=  strip_tags(@feed.description) %>
      </p>


     <% if user_signed_in? %>
              <% if current_user.try(:admin?) %>

      <%= link_to 'Edit', edit_feed_path(@feed) %>

          <% end %>
        <% end %>

      </div>

      
        <br/>

      <ul class="list-group">



      <% @items.each do |item| %>
         <li class="list-group-item"> 
            <h5><label class='label label-success pull-right'><i class="glyphicon glyphicon-play" ></i> <%= pluralize(item.plays, 'play') %></label></h5>
        <h4><%= link_to truncate(item.title, length: 50), item %> </h4>
         </li>
      <% end %>

      </ul>

       <%= paginate @items %>

    
  </div>


  </div>


