
<div class="row">
  <div class="col-md-4">
  <br/>
    <%= image_tag @feed.image, width:'300' %>
  
  </div>

    <div class="col-md-8">

      <h1>
        <%= @feed.title %>
        <br/>
            <small>

             by <%= @feed.author %>
            </small>

      </h1>

      <div class="well">
  
      <p>
        <%=  sanitize @feed.description %>
      </p>




      <%= link_to 'Edit', edit_feed_path(@feed) %>

      </div>

      
        <br/>

      <ul class="list-group">



      <% @items.each do |item| %>
         <li class="list-group-item"> <%= link_to item.title, item %> 
         
         </li>
      <% end %>

      </ul>

       <%= paginate @items %>

    
  </div>


  </div>


