
<h1 class="text-center">Latest</h1>
<hr/>

    <% @items.each do |item| %>

    	<%= link_to image_tag(item.feed.image, class: 'img-thumbnail pull-left', width: 100, style: 'margin-right:5px;'), item %>
        <h3><%= link_to item.title, item %>
        <br>
        <small><%= link_to item.feed.title, item.feed %></small>
        </h3>
        
        <p>
		  <strong>Plays:</strong>
		  <%= item.plays %>

          <strong>Published on:</strong>
          <%= item.pub_date.to_formatted_s(:long_ordinal)  %>

		</p>



       

        <hr/>
    <% end %>

    <%= paginate @items %>
